.about .body{
    /* background-color: hsla(189, 34%, 59%, 0.3); */
    color: rgb(19, 8, 8);
    margin: 15%;

}
.about-me-p{
    font-size: 25px;
}


.about .my-Image{
    /* background: radial-gradient(#e5e5e5,#ffff, #e5e5e5); */
    width: 20rem;
    padding: 2rem 0 !important;
  
  }
  .about .my-Image{
    overflow: hidden; 
  }
  .about .my-Image{
    margin-bottom: 3rem;
    border-radius: 40%;
    transform: scale(0.5);
    transition: transform 0.5s ease-in;
  }
  
  .about .my-Image{
    transform:scale(1.3);
  }
  