.project .body{
    
    
    margin-bottom: 0%;
    text-align: center !important;

}

.project-menu-bar{
    display: flex;
    margin-left: 8.5%;
    margin-right: 5%;
    text-align: center;
  
    color: white;
}

.project .project-card{
    /* display: flex; */
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

