.project .body{
    /* background-color: hsla(189, 34%, 59%, 0.152); */
    color: rgb(19, 8, 8);
    
    /* margin-bottom: 0%; */
    /* margin-top: 0%; */
    text-align: center !important;

}

.project-menu-bar{
    display: flex;
    margin-left: 8.5%;
    margin-right: 5%;
    text-align: center;
  
   
}

.project .project-card{
    /* display: flex; */
    margin: 2%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

