.project .body{
    
    /* background-color: hsla(189, 34%, 59%, 0.255); */
    margin-bottom: 0%;
    text-align: center !important;

}
/* .menu-bar .project{
    background-color: red;
} */
.project-menu-bar{
    display: flex;
    margin-left: 8.5%;
    margin-right: 5%;
    text-align: center;
  
    color: white;
}
.accordion-project{
    display: flex;
    position: relative;
    margin-left: 30%;
    text-align: center;
   
}
/* .pageTitle .project{
    display: flex;
    text-align: center;
} */
