.welcome-pages {

  
    text-align: center !important;

    margin: 0%;
}

.menu-bar{
  
    text-align: center !important;
  
}

.welcome{
    margin-bottom: 0%;
}
.pageTitle{
    margin-bottom: 0%;
}
